
body{
  font-family: sans-serif;
  margin:0
  padding:0;
  background-image: linear-gradient(to left, #fc354c, #ac00e6);
 color: white;
  

}


/*   Main Header     */

.container{
  display: none;
}
#header{
  width:100%;
   background-color:#904e95; 
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    margin:-10px -9px;
    position: fixed;
    z-index: 30;

}

#first-half-header{
  width: 40%;  
  display: flex;
  align-items: center;
  margin-left: 5%;
 
}

#header .logo{
  width:60px;
  height:70px;
}
.logo img{
  width: 60px;
  height: 70px;  
}

#logo-name{
  font-size: 1.2rem;
  color:white;
  margin-left: 15px;
}

.logo-name-1{
font-weight: lighter;
}

.logo-name-2{

font-weight: bold;
}

#first-half-header a{
  margin-left: 50px;
  font-size: 1rem;

}

#second-half-header{
  display: flex;
  width: 40%;
  height: 100%;
  float: right;
  margin-right: 100px;
  columns: white;
  align-items: center;  
}

 #second-half-header #search-box{
  display: flex;
  flex-direction: row;
    cursor: pointer;
  min-width:40%;
  height: 40%;
  align-items: center;
background-color:lightgrey;
  border-radius:20px;
  padding: 7px;
 

}
#search-box #search-txt{

  min-width: 70%;
  height: 100%;
  outline: none;
  border:none;
  text-align: left;
  margin-left: 5%;
  
 background-color:lightgrey;
  font-size: 1rem;
  font-weight: 700;

}
 #search-box .fa-microphone{
  margin-left: 10%;
  font-size: 1rem;
  margin-right: 15px;
   cursor: pointer;
}

 #search-box  .fa-search
 { 
  position: relative;
  left: 2%;
font-size: 1rem;
 cursor: pointer;
   }

   #second-half-header .fa-bell{
    
    font-size: 1.9rem;
  
   margin-left: 20%;
    cursor: pointer;
   }



   #body-container{
    align-items: center;
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 100%;
      position:relative;
      top:60px;
      background-image: linear-gradient(to right, #fc354c, #ac00e6);
    box-shadow: 5px 2px 9px 3px #904e95;
    justify-content: space-between;
   

   }


 #body-container #one{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

}




/*carousel container*/

#one #carousel-container{
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to right, #fc354c, #ac00e6);
  display: flex;
  justify-content: center;


}
.box{
  width: 220px;
  height: 200px;
  background-color: orange;
  margin:0px 10px;
}
.box img{
  width: 100%;
  height: 100%;
}

.box:hover{

  transform: scale(1.2);
}

/* Latest Releases Section */




 #one #latest-release-container{
width: 90%;
height:auto;
display: flex;
flex-direction: column;
position: relative;
left:20px;


 }
#latest-release-container .section-heading{

  height: 10%;
  width: 100%;
  font-size: 0.8rem;

}

#latest-release-container .release-boxes-containers{
width: 100%;
height: 150px;
display: flex;
flex-direction: row;



}

#latest-release-container #release-box-left-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#latest-release-container #release-box-right-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
#latest-release-container  .release-box{
  position: relative;
   width: 100%;
   height: 45%;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
 .release-box .release-box-first-half{
   display: flex;
  flex-direction: row;

  width: 60%;
  height: 100%;

}
 .release-box  .release-box-first-half .release-img-container {
  width:80px;
  height: 80px;

}
.release-img-container img{
  width: 100%;
  height: 100%;
}
 
 .release-name-date{
  position: relative;
  left:10px;
 }
  .release-name-date p{
    font-size: 0.9rem;
    position: relative;
    top:-10px;
  }
.song-duration{
  position: absolute;
  left:60%;
  top:-5px;
}

.play-to-pause i{
  display: none;
}
.release-img-container #play i{
position: absolute;
  display: none;
  color: white;
}

.release-img-container:hover #play i{
  display: block;
  position: absolute;
  top:50%;
  left:9%;


}

h4{
  font-weight: 800;
   font-size: 1rem; 
   }




.drop-down label{
   position:absolute;
    font-size: 1rem;
    cursor: pointer;
    color:white;
    right: 5px;
    top:0px;
    
    }



  #toggle-1{

  right: 15px;
  top:0px;
  display: none;

}

 #toggle-2{

  right: 15px;
  top:0px;
  display: none;

}

 #toggle-3{

  right: 15px;
  top:0px;
  display: none;
}

 #toggle-4{

  right: 15px;
  top:0px;
  display: none;

}

 #toggle-1:checked +.dropdown-list{
    display: block;
      background-color: white;
    top:0;
        right:30px;
      position: absolute;

}
 #toggle-2:checked +.dropdown-list{
    display: block;
      background-color: white;
          right:30px;
      position: absolute;
    top:0;

}

 #toggle-3:checked +.dropdown-list{
    display: block;
      background-color: white;
          right:30px;
      position: absolute;
    top:0;

}
 #toggle-4:checked +.dropdown-list{
    display: block;
    background-color: white;
    top:0;
    right:30px;
      position: absolute;

}

.dropdown-list{
 margin:0;
   display: none;
    
}
  .no-list-style{
    list-style: none;

}

.dropdown-list{
 margin:0;
   display: none;
   height: 120px;

    
}

.dropdown-list ul{
 
    text-align: center;
    padding: 0px 0.8rem; 
    top:-1rem;
   right:10px;
    width: 95%;
    position: relative; 
}

.dropdown-list li{
    margin: 1rem 0px;
    text-align: center;   
    clear: right;  
    align-items: center;
    box-shadow: 1px 1px 3px 3px lightgrey

}

.no-list-style li {
     line-height: 15px;
    font-size: 0.6rem;
    font-weight: 600;
}

.no-list-style li a{
    list-style: none;
    color: black;
    text-decoration: none;

}






  /*Popular Artists section*/

       #Popular-artist-container{
         display: flex;
        flex-direction: column;
         width:100%;
         height:auto;
         margin-left: 15px;
         margin-bottom: 10%;
       
             }
             .section-heading{
              font-size: 0.8rem;
             }


.artist-img-container{
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: wrap;
   justify-content: space-between;
     position: relative;
     left:-15px;
    width:100%;
  height:auto;
  border-radius: 100%;


}

.artist-img-container .artist-img-name{
  display: flex;
  width:16%;
 height: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.artist-img-name h4{
  margin-top: 2px;
     cursor: pointer;

}

.artist-img-name a{
  text-decoration: none;
  color: white;
}


.artist-img-container img{
   width:100%;
  height:140px;
  border-radius: 100%;
  cursor: pointer;
}
.artist-img-name a{
  display: none;
}

.artist-img-name:hover a{
  display: block;
  position: absolute;
   font-size: 1.5rem;
  top:25%;

}
.artist-img-name:hover img{
  filter: blur(1.5px);

}





                /*Stations Section */

          #one  #Stations-container{
               margin-top: -25px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              height: auto;
              justify-content: space-around;
                 align-items: center;
                 width: 100%;

                

                    }
                      #station-logo {

                          height: 113px;
                      width:15%;
                      background-color: cyan;
                     

                      }


                    #station-logo img{
                      height: 100%;
                      width:100%;

                    }

                       .stations-img-containers {
                       width: 12%;
                       height: 120px;
                        position: relative;
                           cursor: pointer;
                         

                       }
                     .stations-img-containers img
                     {
                      height:100%;
                      width: 100%;
                      border-radius: 100%;

                     

                     }

                  .stations-img-containers img:hover{



                       box-shadow: 1px 1px 7px 3px white;
                     }


                    .station-name{
                        position: absolute;
                        top:40%;
                        left:19%;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: bolder;
                   
                    
                    }
  
         /*   Chill moments container  -Party -Electronic -RoadTrips    */
                 

                    #chill-moments-container{

                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      height:auto;
                     flex-wrap: wrap;
                      margin-top: 20px;
                    }
                    .chill-boxes{
                      width:33%;
                      height:100%;
                      position: relative;
                        overflow: hidden;
                    
                       
                    }

                       .chill-boxes:hover img{


                          transition: 1.5s;
                    transform: scale(1.5);
                  }

                 #chill-moments-container   .chill-boxes img{
                    display: flex;
                      height:180px;
                    width: 100%;
                    cursor: pointer;
                      

                    }

                    .chill-boxes-name{
                      position: absolute;
                      left:30%;
                      top:30%;
                      font-weight: bolder;
                      font-size: 1.2rem;
                    }




                   



         /*latest English Songs*/

 

                #one   #Latest-english-section{
                    display: flex;
                  flex-direction: column;
                    width: 100%;



                     }
          #Latest-english-section  .section-heading{
            height: 50px;
            width: 100%;
            font-size: 0.8rem;

          }

         .latest-eng-songs{
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
            height: auto;
            width: 100%;
       
        
          }
       
          .englishSong-img{
          width:  15%;
          height: auto;
        margin:5px;

         }
           .englishSong-img img{
            width: 100%;
            height:150px;

           }


                     #Latest-hindi-section{
                           display: flex;
                           flex-direction: column;
                          margin-top: 5%;
                         width: 100%;
                       height: auto;
                       margin-bottom: 10%;
                        
                      


                    }



                       #Latest-hindi-section  .latest-eng-songs{
                      width: 100%;
                      height:auto;
                      flex-wrap: wrap;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;



                    }

 /*container-4 side Queue*/

#body-container #container-4{
  height: 100%;
position:absolute;
flex-direction: column;
right: 0;
width: 30%;
  display:flex;
  align-items: center;
  top:-10px;
 
 
}

  #container-4 #recently-played-heading{
     width: 100%;
    display: flex;
     position: relative;
    flex-direction: row;
    height: 7%;
    font-size: 0.8rem;
    color:white;
    align-items: center;
    justify-content: space-between;
    top:0px;
    left:30px;

    
  }

  #container-4 #recently-played-heading i{
position: relative;

top:42px;
left:-98px;
 }

.song-name{
   width:  80px;
  }
 

 #recently-played-heading{
  width: 80%
 }
#toggle-queue{
  display: none;
}
 

 #toggle-queue:checked +.dropdown-list{
    display: block;
    position: absolute;
    top:45px;
    left:110px;
    background-color: white;
    color: black;
    z-index: 10;

}

 #container-4 .dropdown-list li a{
  color: black;

}
 #container-4 .dropdown-list{
  height: 60px;
 }
 #container-4 .dropdown-list ul li {
   border-bottom-color: grey;
   width: 100%;
   letter-spacing: 1.3px;

}


   #container-4 .recently-played-boxes{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    width: 100%;
    height: 100%;
  align-items: center;
  padding: 10px;

  
  }

 #container-4 .recently-played-boxes   .song-box{
    display: flex;
    flex-direction: row;
    width:100%;
    height:20%;
    justify-content: space-between;
    align-items: center;
    position: relative;

   }
    #container-4  .song-box i{
      position: relative;
      left:-20%;
    }

   #container-4  .song-box i,.tracks{

      font-size: 0.8rem;
   }

    .song-box .release-name-date {
      position: absolute;
      left:38%;
      top:0;
      letter-spacing: 1px;
    }

  #container-4 .song-name .release-name-date p{
 
  font-size: 0.8rem;
 }
 .song-box .release-name-date h4{
  font-size: 0.9rem;


 }

  #container-4  .sng-img {
    left:10%;
   width: 70px;
  height: 70px;

position:absolute;

  
 }
    #container-4 .sng-img img{
   width: 100%;
  height: 100%;


}
  #container-4 .tracks{
   
   position: absolute;
  }


 #container-4 .sng-img .fa-play{
  display: none;
  position: absolute;
  left:25%;
  top:50%;
  color:white;
  font-size: 1rem;
  font-weight: bolder;
 }

 #container-4  .sng-img:hover i{
  display: block;

 }



                    /* Side DropDown Queue */



.slider{
  display: none;
  overflow: hidden;
  height: 550px;

}
.slider figure div{
  width:10%;
   overflow: hidden;
  float: left;
}
.slider figure img{
  width:100%;
    overflow: hidden;
  float: left;


}
.slider figure{
  position: relative;
  width: 500%;
 
  margin:0;
  left:0;
  animation: 5s slidy infinite;

}
@keyframes slidy{
  0%{
    left:0%;

  }
  10%{
    left:0%;
    
  }
  12%{
    left:-100%;
    
  }
  22%{
    left:-100%;
    
  }
  24%{
    left:-200%;
    
  }
    
    34%{
    left:-200%;
    
  }
  36%{
    left:-300%;
    
  }
  46%{
    left:-300%;
    
  }
  48%{
    left:-400%;
    
  }
  58%{
    left:-400%;
    
  }
  60%{
    left:-300%;
    
  }
  70%{
    left:-300%;
    
  }
  72%{
    left:-200%;
    
  }
  82%{
    left:-200%;
    
  }
  84%{
    left:-100%;
    
  }
  94%{
    left:-100%;
    
  }
  96%{
    left:0%;
    
  }

  
}



 /*bottom music player*/



 #musicplayer{
  display: none;
 }
 #song-player{
  display: none;
 }
#song-player:checked +#musicplayer{
  display: block;
}
 .song-play{
  display: flex;
  width: 100vw;
  height: 50px;
    position: sticky;
     top:100vh;
   margin-left: -65vw;
     background-color: #232526;
     box-shadow: 1px 1px 9px 2px  #3f4c6b;

 }

 .song-play .play-container  {
  display: flex;
  width: 100%;
  height:100% ;
  flex-direction: row;
  margin:0 0px 0 0px ;
  align-items:center;
  

 }
 .play-container .play-img {
  width:250px;
  height:95%;
  background-color:#232526 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  position: relative;
  left:80px;
}
.play-img img{

  width: 30%;
  height:100%;

}
 .play-img  #play-img-title{

  
  align-items: center;
    display: flex;
  flex-direction: column;
  }



 .play-img .song-name{
  font-size: 0.6rem;
    margin-left: 7px;
  justify-content: space-around;
  color: white;

 }
 .play-img  .song-name p{
   display: relative;
   margin-top: -10px;
   font-size: 0.7rem;

 }
 

.play-img   #music-player-img-icon{
        display: flex;
        position: relative;
        flex-direction: row;
        left: 60px;
        font-size: 0.6rem;
        font-weight: bold;
        height:30px;
        width: 60px;
        color:white;
        padding: 5px;
        justify-content: space-around;
        cursor: pointer;

 }

  .play-container .play-controls{
      width:35%;
       height:100%;    
      display: flex;
      flex-direction: column;
      align-items: center;
     margin-left: 12%;
      font-size: 0.5rem;

  }

  
 .play-controls .play-icons{
  width:40%;
  height:60%;
      cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;

 }
 .play-icons .fa-play-circle{
   font-size: 1.5rem;
 }
 
  .play-container #progress-bar-container{
         margin-top: 10px;
    display: flex;
    flex-direction: row;
        cursor: pointer;
    height: 12%;
    width: 80%;
    align-items: center;

  }

    #progress-bar-container .progress-bar {
    border-radius: 20px;
    width: 100%;
    height:80%;
    background-color: black;

   }
.progress-bar .progress{
  width:50%;
  height:70%;
  background-color: #fd1d1d;
  box-shadow:1px 1px 3px 1.2px  #ff4e50;
  border-radius: 25px;
}
    #progress-bar-container .progress i{
  margin-left: 97%;
  color:white;
  font-size: 0.8rem;
  position: relative;
  top:-3px;
}
  .play-container .extra-controls{
    position: relative;
    left: 300px;
  width:20%;
  height:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
    cursor: pointer;
  color:white;
  font-size: 0.7rem;

  }
  #start-time{
    margin-right: 5px;
    font-size: 0.8rem;
    color: white;
  }
#end-time{
    margin-left: 5px;
    font-size: 0.8rem;
      color: white;
  }


  .play-container .extra-controls{
    position: relative;
    left:10%;
  width:20%;
  height:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
    cursor: pointer;
  color:white;
  font-size: 0.9rem;

  }
  .extra-controls i{
    margin-left: 15px;
  }


.extra-controls .progress-bar{
  margin-left: 10px;
  width: 30%;
  height: 15%;
  position: relative;
  background-color: black;
}

.extra-controls .progress-bar .progress {
  width: 30%;
  background-color: red;
  position: absolute;
  box-shadow: 1px 1px 2px  #ff4e50;


}
.extra-controls  .progress .fa-circle{
  font-size: 0.5rem;
  position: absolute;
}

   @media only screen and (max-width: 1024px) {

#Queue{
  display: none;
}

.slider{
  display: block;
}
 #body-container #one{
  width: 100%;
 }
    .englishSong-img  .release-name-date p
                    {

                            display: none;
                    }





}


@media only screen and (max-width: 705px) {

 
   #header{
    display: none;
   }  



  *{
  box-sizing: border-box;
  margin:0;
}
html{
  height: 100%;



}
body{
  overflow-x: hidden;
padding-left:70px;


}
.container{
  display: flex;
  min-height: 100%;


}
input[data-function*='swipe']{
  position: absolute;
  opacity: 0;

}
label[data-function*='swipe']{
  position: absolute;
  top:30px;
  left:30px;
  z-index: 12;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  color:white;
  font-size: 1.5rem;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;

}
label[data-function*='swipe']:hover{
  color: #263249;
}
label[data-function*='swipe']:checked{
  display: block;
}
input[data-function*='swipe']:checked ~ label[data-function*='swipe']{
  transform: translate3d(280, 0, 0);

}
label:nth-child(2){
  display: none;
}

input[data-function*='swipe']:checked ~ label:nth-child(2){
  display: block;
  transform: translate3d(280px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ label:nth-child(3){
  display: none;
}
input[data-function*='swipe']:checked  ~ .sidebar{
  transform: translate3d(0px, 0px, 0px);
}
input[data-function*='swipe']:checked  ~ .sidebar .menu li{
  width: 100%;

}
.sidebar{
  transform: translate3d(-280px, 0px, 0px);
position: absolute;
width: 280px;
background-color: #263249;
color:white;
left:0;
height: 100%;
transition: all .3s;
z-index: 30;

}

.menu  a{
    color:white;
    text-decoration: none;
    position: absolute;
    top:40%;
    left:35%;
  
}

.menu .logo img{
  width: 60px;
  height: 60px;
  position: absolute;
  top:-10px;
  left:70%;


}
.menu #search-txt{
  position: absolute;
  top:25%;
  left:15%;
}


          .englishSong-img{
          width:  30%;
          height: auto;
        margin:5px;
         }
           .englishSong-img img{
            width: 100%;
            height:150px;

           }


     #Popular-artist-container{
         display: flex;
        flex-direction: column;
         width:100%;
         height:200px;
         margin-left: 20px;
       
             }
             .section-heading{
              font-size: 0.8rem;
                margin-top:  20px;
             }
            
              #latest-release-container .section-heading{
                       font-size: 0.8rem;

                     }


             #latest-release-container .release-name-date p{
              display: none;
             }     

     }



@media only screen and (max-width: 650px){

/*carousel container*/
      #one #carousel-container{
  width: 100%;

  background-image: linear-gradient(to right, #fc354c, #ac00e6);
  margin:10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}
#carousel-container .box{
  height: 150px;
}
#carousel-container .box img{
 height:  150px;
}
                                             
     #Popular-artist-container{
         display: flex;
        flex-direction: column;
        flex-wrap: wrap;
         width:100%;
         height:auto;
         margin-left: 7px;
         margin-top: 20px;
       
           }

               #Popular-artist-container .artist-img-name{
              width:30%; 
            }
             .artist-img-name img{
              width:100px;
              height: 130px;
             }

             .section-heading{
              font-size: 0.5rem;
             }
          .artist-img-name{
            margin-left: 5px;
          }
         
             
                 #Popular-artist-container:hover{

                transform: scale(1);
                    }


             #Popular-artist-container .artist-img-name h4{
                  font-size: 0.7rem;
                   letter-spacing: 1.4px;
                }
          
                      #station-logo {
                      position: relative;


                         left:10%;
                       height: 75px;
                      width:30%;
                      margin-bottom: 10px;
                                       
                      }
                    
                 #one   #Stations-container{
                      display: flex;
                      flex-direction: column;
                           width: 100%;                       
                           height: auto;     
                           position: relative;                     
                          

                    }

                     #Stations-container .stations-img-containers{
                        display:flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height:auto;
                        width: 250px;
                        margin-bottom: 5px;
                         border-radius: 0;
                          box-shadow: none;
                          position: relative;
                          left:10%;
                      }
                       .stations-img-containers img{
                        width:100%;
                        height: 100px;
                        border-radius: 0;
                     

                       

                       }
                  .stations-img-containers span{
                    position: absolute;
                   
                  top:0;
                  right:-10%;
                    height:100%;
                
                    font-size: 1rem;
                   

                   }



           
                    #station-logo img{
                      height: 100%;
                      width:100%;


                    }

                
                  

                    .station-name{
                        position: absolute;
                        top:40px;
                        left:14px;
                        cursor: pointer;
                        font-size: 0.5rem;
                         
                    }

                .release-name-date h4
                {
                 position: relative;
                    left:1px;
                    top:12px;
                    
                     }

             .release-name-date p{
               font-size: 0.6rem;
                 position: relative;
                  top:-1px;
                       }

                 .song-duration
                 {
                  position: relative;
                  left:-3px;
                 }
               
                 
                .dropdown-list{
                  z-index: 6;
                 }


                    #chill-moments-container{

                      display: flex;
                      flex-direction:column;
                      width: 100%;
                      height:auto;
                      justify-content: center;
                       position: relative;
                       left:25%;
                      margin-top: 20px;
                    }
                    .chill-boxes{
                      width:70%;
                      height:100%;
                      position: relative;
                        overflow: hidden;
                       
                       
                    }


                    .chill-boxes-name{
                      position: absolute;
                      left:10px;
                      top:60px;
                      font-weight: bolder;
                      font-size: 0.7rem;
                    }

                     .play-container .extra-controls{
                      display: none;
                     }
                      song-play{
                   display: flex;
                    width: 100vw;
                 height: 50px;
                   position: absolute;
                          top:70vh;
                     left:-40px;
                 background-color: #232526;
     box-shadow: 1px 1px 9px 2px  #3f4c6b;

 }

 .song-play .play-container  {
  display: flex;
  width: 100%;
  height:100% ;
  flex-direction: row;
  margin:0 0px 0 0px ;
  align-items:center;
  

 }

  }

 @media only screen and (max-width: 500px){
 
  #latest-release-container .release-img-container img{
    min-width: 70px;
    height:70px;
  }

.release-boxes-containers .release-box {
    display: flex;flex-direction: column;
    height: auto;
  }
.section-heading{
  font-size: 0.8rem;
}

 #latest-release-container .release-boxes-containers  {
    display: flex;
    flex-direction: column;
    height: auto;


  }
  .drop-down, .song-duration{
        position: relative;
    left:75%;

    }
    .drop-down{
      top:-16px;
    }


  #station-logo img{
                      height: 100%;
                      width:100%;

                    }

                  .stations-img-containers {
                position: relative;
                       height: 20px;
                      width: 20px;
                         

                       }
                  

            .stations-img-containers         .station-name{
                        position:absolute;
                        top:0;
                        left:40%;
                        cursor: pointer;
                        font-size: 0.9rem;
                         
                    }





 }

                  



